name: Publish to PyPI

on:
  release:
    types: [published] # when a release or pre-release published. don't mind the nuances that differentiate this from 'created' or 'released'

jobs:
  build-and-store:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-latest, windows-latest] # use an old enough Linux distro to peacefully generate `manylinux` packages
        python-version: [3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Build and install # mostly redundant with `ci.yml`
      shell: bash
      run: |
        python -m pip install --upgrade pip build
        cd python
        python -m build --wheel
        python -m pip install dist/*.whl
        cd ..
    - name: Run tests
      shell: bash
      run: |
        cd python/tests
        python -m pip install -r requirements.txt
        pytest
        cd ../..
    - name: Audit wheel for manylinux
      if: matrix.os == 'ubuntu-18.04'
      shell: bash
      run: |
        cd python
        python -m pip install --upgrade auditwheel
        python -m auditwheel repair --plat manylinux1_x86_64 dist/*.whl
        rm -r dist
        mv wheelhouse dist
    - name: Store the binary wheel
      uses: actions/upload-artifact@v2
      with:
        name: python-package-distributions
        path: python/dist/

  publish: # can only upload from ubuntu, so collect all the packages here
    runs-on: ubuntu-latest
    needs: build-and-store
    steps:
    - name: Download all the wheels
      uses: actions/download-artifact@v2
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish
      uses: pypa/gh-action-pypi-publish@master # should upload contents of the `dist/` folder
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
        packages_dir: dist/
